@import "modern-normalize/modern-normalize.css";

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  /* Ensure sticky top bar doesn't overlap content (matches .topBar height) */
  padding-top: 52px;
}

sl-split-panel {
  height: 100%;
}
